main {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.col-2 {
  grid-column: span 2;
}

.row-2 {
  grid-row: span 2;
}
